<div class="main h-100 w-100">

  <div class="h-100 w-100 board-container d-flex flex-column">

    <div id="board" cdkDropListGroup class="ml-auto mt-auto mr-auto mb-1 rounded board align-self-center p-1 d-flex flex-column">

      <div class="piece" draggable="true" *ngFor="let piece of this.getBlackPieces()"
      cdkDrag
      cdkDragBoundary=".board"
      (cdkDragStarted)="this.dragStart($event, piece)"
      (cdkDragEnded)="this.dragEnd($event, piece)"
      [style.left.px]="this.getPosX(piece.getPosition())"
      [style.top.px]="this.getPosY(piece.getPosition())"
      (click)="this.selectPiece(piece)">
        <img *ngIf="!piece.isCaptured()" class="piece-img" [src]="piece.getImageUrl()" [style.max-height.px]="this.getTileHeight()">
      </div>

      <div class="piece" cdkDrag *ngFor="let piece of this.getWhitePieces()"
      cdkDrag
      cdkDragBoundary=".board"
      (cdkDragStarted)="this.dragStart($event, piece)"
      (cdkDragEnded)="this.dragEnd($event, piece)"
      [style.left.px]="this.getPosX(piece.getPosition())"
      [style.top.px]="this.getPosY(piece.getPosition())"
      (click)="this.selectPiece(piece)">
        <img *ngIf="!piece.isCaptured()" class="piece-img" [src]="piece.getImageUrl()" [style.max-height.px]="this.getTileHeight()">
      </div>

      <div class="rank d-flex flex-row" *ngFor="let rank of this.board.ranks(); let index = index">
        <div [id]="tile.getPosition().x + '-' + tile.getPosition().y"
        (mouseover)="this.currentTile = tile"
        class="tile" *ngFor="let tile of rank"
        [style.background-color]="tile.isBlack() ? '#6a7486' : 'white'">

          <div class="move-container" *ngIf="this.isAvailableMove(tile)">
            <div class="make-move glow-purple" (click)="makeMove(tile)">
              •
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="rounded board-options mb-auto pl-3 pr-3 d-flex flex-row">


      <div class="ml-auto mr-3">Play as:</div>
      <div class="board-option">
        <mat-radio-group class="board-option">
          <mat-radio-button value="White" [checked]="this.playAsWhite" (change)="this.changePlayAsColor()">White</mat-radio-button>
          <mat-radio-button [checked]="!this.playAsWhite" value="Black" class="ml-3" (change)="this.changePlayAsColor()">Black</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="options-divider"></div>

      <div class="board-option">
        <mat-checkbox color="white" [(ngModel)]="this.computerOn" class="board-option">Against Computer</mat-checkbox>
      </div>

      <div class="options-divider"></div>

      <div id="playButton" class="ml-auto mr-auto btn btn-secondary" *ngIf="!this.gameOn" (click)="this.startGame()">
        Play
      </div>

      <div id="playButton" class="ml-auto mr-auto btn btn-secondary" *ngIf="this.gameOn" (click)="this.startGame()">
        Reset
      </div>
    </div>

    <div class="mt-auto"></div>

  </div>


</div>
