body {
  height: 100vh;
  margin: 0;
  color: white;
  background-color: #1c1c1c;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  margin: 0 !important;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
  touch-action: manipulation;
}

.clickable {
  cursor: pointer;
}

.ng-fa-icon {
  color: rgba(210, 210, 228, 0.815);
  cursor: pointer;
}

.ng-fa-icon.icon:hover {
  color: white !important;
}

.small-divider {
  height: 1.5rem;
  border-right: 2px solid rgba(171, 174, 181, 0.2);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
